@media(max-width: 1440px) {
    #navbar {
        width: 400px;
    }

    #main-doc {
        margin-left: 420px;
    }

    #board-interface {
        height: 450px;
    }

    #hearthstone-board-img {
        width: 650px;
    }

    #Playing_Hearthstone img {
        width: 600px;
    }

    #main-doc .turn-phase-description p{
        font-size: 15px;
    }
}

@media(max-width: 1024px) {
    #navbar {
        width: 300px;
    }

    #main-doc {
        margin-left: 320px;
    }

    #hearthstone-board {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #board-interface {
        flex-basis: 95%;
        height: 300px;
        margin-bottom: 10px;
    }

    div.turn-phase-container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    div.turn-phase-description {
        flex-basis: 85%;
        height: 220px;
    }

    #Playing_Hearthstone img {
        width: 650px;
        margin-bottom: 5px;
    }
}

@media(max-width: 768px) {
    #navbar {
        display: none;
    }

    #main-doc {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 425px) {
    #main-doc {
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-doc p {
        font-size: 16px;
    }

    #main-doc h2 {
        font-size: 22px;
    }

    #hearthstone-board-img {
        width: 400px;
    }

    #creature-card-img,
    #spell-card-img {
        width: 175px;
    }

    #Playing_Hearthstone img {
        width: 400px;
    }
}

@media(max-width: 375px) {
    #hearthstone-board-img {
        width: 350px;
    }

    #Playing_Hearthstone img {
        width: 350px;
    }
}

@media(max-width: 320px) {
    #hearthstone-board-img {
        width: 300px;
    }

    #creature-card-img,
    #spell-card-img {
        width: 150px;
    }

    #Playing_Hearthstone img {
        width: 300px;
    }
}